.Footer{
    background-color: black;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:  2rem ;
    margin:10px auto;
height: 209px;
}
.logoImageNoir{
width: 122px;

justify-content: center;
align-items: center;
text-align: center;
margin: 0 auto;
}
.FooterText{
    color: white;
    font-size: 24px;

}
@media (max-width:776px){
    .Footer{
        padding: 0;
    }
    .FooterText{
        font-size: 12px;
        width: 30%;
    }
    }