.navbar{
max-width: 90vw;
margin: 0 auto 30px;
display: flex;
justify-content: space-between;

}

.navbar .logoImage{
    width: 210px;
    height: 68px;
    }
.navbar_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ff6060;
    
    }
.navbar_logo .Accueil , .navbar_logo .propos{
    padding-inline: 15px;
    font-size: 24px;
    }


@media (max-width:776px){
.navbar .logoImage{
width: 145px;
height: 46px;
}
.navbar_logo .Accueil , .navbar_logo .propos{
padding-inline: 10px;
font-size: 12px;

}
}