// Define your variables here
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$monospace-stack: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

// Global Styles
body {
  margin: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: inherit;
  }
  
  code {
    font-family: $monospace-stack;
  }
}

// Media Queries
@media (max-width: 776px) {
  .error404 {
    font-size: 96px;
  }

  .paragraphError {
    font-size: 18px;
  }

  .retornPage {
    font-size: 14px;
  }
}
